@use 'vars';

.desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background: var(--white);
    width: 100px;
    height: auto;
    border: 3px solid var(--very-light-gray);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li{
    text-align: end;
}
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}
.desktop-menu ul li a{
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-gray);

}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

@media (max-width:640px) {
    .desktop-menu{
        display: none;
    }
}