@use 'vars';

.ProductItem{
    width: 240px;
}
.ProductItem img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.ProductInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProductInfo div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 8px;
    margin-bottom: 4px;
}
.ProductInfo div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-gray);
}
.ProductInfo figure{
    margin: 0;
}
.ProductInfo figure img{
    width: 35px;
    height: 35px;
}
figure img {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 3px 0.5px var(--very-light-pink);
}
figure:hover img {
    border-radius: 50%;
    box-shadow: 0 0 2px 1px var(--hospital-green),
    0 0 4px 1px var(--hospital-green),
    0 0 8px 1px var(--hospital-green);
    cursor: pointer;
}

@media (max-width:640px) {
    .ProductItem {
        width: 140px;
    }
    .ProductItem img {
        width: 100%;
        height: 140px;
    }
}